<table align="center" width="100%">
            <div align="center">
                <font color="cyan" size="6">
                    <b>üçø Netflix Data Cleaning ü•§</b>
                </font>


<b><font color="white"><h3>üîπ Importing essential libraries for data analysis and visualization:</b></font>

1. NumPy `(import numpy as np)`

**Purpose:**

Numerical Python ‚Äî high-performance library for numerical operations, especially with arrays.

**Use Cases:**

- Multi-dimensional arrays (ndarray)

- Mathematical functions: mean, median, std, etc.

- Fast operations over arrays/matrices

2. Pandas `(import pandas as pd)`

**Purpose:**

Data manipulation and analysis library ‚Äî best for working with tabular data like Excel, CSV, SQL tables.

**Use Cases:**

- Read/write data (CSV, Excel, etc.)

- DataFrames and Series for tabular and 1D data

- Grouping, filtering, cleaning, and reshaping data

3. files from Google Colab `(from google.colab import files)`

**Purpose:**

Special module in Google Colab to handle file uploads and downloads.

**Use Cases:**

- Uploading files from your local system to Colab

- Downloading processed files back to your computer

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files


<b><font color="white"><h2>üîç Loading the Netflix dataset into a DataFrame:</b></font>

In [ ]:
uploaded = files.upload()

Saving netflix.csv to netflix.csv

In [ ]:
df = pd.read_csv("netflix.csv")

<b><font color="white"><h2>üîç Displaying the first 5 rows of the DataFrame to preview the data:</b></font>

In [ ]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

<b><font color="white"><h3>üîç Drop Description Column:</b></font>

In [ ]:
df = df.drop('description', axis=1)

### <b><font color="white"><h1>üìä Summary of the Netflix Dataset</b></font>


This dataset offers a comprehensive overview of movies and TV shows available on Netflix. Each row corresponds to a unique title and includes several important attributes:

- **üé¨ Show ID**: A unique identifier for each title.  
- **üì∫ Type**: Specifies whether the content is a *Movie* or a *TV Show*.  
- **üìù Title**: Contains the main title, sometimes including subtitles.  
- **üé¨ Director**: May include multiple directors listed in a single cell.  
- **‚≠ê Cast**: Lists one or more cast members associated with the title.  
- **üåç Country**: Indicates the country or countries where the title was produced; joint productions are common.  
- **üìÖ Date Added & Release Year**: Show when the title was added to Netflix and its original release year.  
- **üîû Rating**: Reflects the target audience (e.g., TV-MA, PG, R).  
- **‚è±Ô∏è Duration**: Specifies runtime in minutes for movies or number of seasons for TV shows.  
- **üé≠ Genre (listed_in)**: Classifies titles into genres such as *Drama*, *Comedy*, *Action*, *Thriller*, *Documentary*, etc.

üìÜ **Time Span**: The dataset includes titles released between **1992 and 2021**, capturing the diversity and evolution of Netflix's global content library.

üëâ **In summary**, this dataset enables a wide range of analytical opportunities focused on:
- Content type  
- Genre  
- Regional distribution  
- Duration  
- Audience suitability

### <b><font color="white"><h1>üìù Columns Descriptions:</b></font>

- **üì∫ Type**: Indicates whether the entry is a *Movie* or a *TV Show*.  
- **üéûÔ∏è Title**: The title of the movie or TV show.  
- **üé¨ Director/Creator**: The name of the director for movies or the creator for TV shows.  
- **üåç Country**: The country of origin where the movie or TV show was produced.  
- **üìÖ Release Date**: The date when the movie or TV show was released on Netflix.  
- **üìÜ Release Year**: The year when the movie or TV show was originally released.  
- **üîû Rating**: The content rating assigned to the movie or TV show, indicating its suitability for different age groups. Ratings include:  
  *TV-MA, TV-14, R, PG-13, TV-PG, TV-Y, PG, TV-G, TV-Y7*.  
- **‚è±Ô∏è Duration**: The duration of the movie or TV show.  
  - For movies: Given in minutes  
  - For TV shows: Indicates the number of seasons  
- **üé≠ Genres**: The genres or categories the movie or show belongs to, such as *Drama, Comedy, Action, Thriller*, etc.

<b><font color="white"><h2>üîç Displaying basic information about the DataFrame:</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB

### <b><font color="white"><h2>üîç Issues with the Netflix Dataset:</b></font>

## üßº 1. **Dirty Data**

Dirty data refers to inaccurate, incomplete, or duplicate entries that reduce the reliability of analysis.

### üìå Column: `show_id`

- **Completeness Issue**  
  Duplicate entries found in rows `'s304'`, `'s3372'`, `'s760'`, `'s4523'`, and `'s3963'` indicating redundancy of titles.

- **Quality Issue**  
  Show IDs like `'s1'`, `'s2'`, `'s3'`, `'s4'`, and `'s5'` are used for repeated content, showing **redundant and inconsistent identifiers**.

- **Analytical Relevance**  
  `show_id` is a **unique identifier** that holds no analytical meaning and can be **excluded from modeling or visualization**.

---

### üìå Column: `type`

- **Consistency Issue**  
  Stored as an **object** data type instead of a **categorical** type, which would be more efficient for repeated values like "Movie" and "TV Show".

---

### üìå Column: `date_added`

- **Validity Issue**  
  Stored as a **string**, but should be converted into a **datetime object** for accurate time-based analysis.

---

### üìå Column: `release_year`

- **Validity Issue**  
  Currently stored as an **object**, but should be an **integer** or **datetime** for chronological analysis.

---

### üìå Column: `duration`

- **Consistency Issue**  
  Mixed formats:
  - Movies: `'91 min'`, `'80 min'`
  - TV Shows: `'1 Season'`, `'3 Seasons'`  
  This inconsistency hinders analysis.

---

## üßπ 2. **Messy Data**

Messy data refers to unstructured or inconsistently formatted data not ready for direct analysis.

### üìå Column: `duration`

- **Consistency Problem**  
  Example: Movie `"The School of Mischief"` listed as **253 minutes**, but actual duration is **110 minutes** ‚Äî shows incorrect and unreliable values.

---

### üìå Columns: `director`, `cast`, `listed_in`

- **Structural Problem**  
  These columns often contain **multiple values in a single cell**, e.g.:
  - `"Director A, Director B"`
  - `"Actor 1, Actor 2, Actor 3"`  
  This violates the principle of **atomicity** ‚Äî ideally, each cell should contain only **one value**.

- **Consistency Issue**  
  Inconsistent formatting (e.g., commas with or without spaces) across rows makes splitting or filtering harder.

---

## ‚úÖ Summary Table

| Column         | Issue Type            | Data Quality Category | Data Quality Dimension | Description                                                       |
|----------------|------------------------|------------------------|------------------------|-------------------------------------------------------------------|
| `show_id`      | Duplicate, not useful  | Dirty Data             | Completeness, Quality  | Repeated titles, irrelevant for analysis                          |
| `type`         | Wrong data type        | Dirty Data             | Consistency            | Should be categorical instead of object                           |
| `date_added`   | Invalid format         | Dirty Data             | Validity               | Needs conversion to datetime                                       |
| `release_year` | Invalid format         | Dirty Data             | Validity               | Should be integer or datetime                                      |
| `duration`     | Inconsistent formats   | Dirty + Messy Data     | Consistency, Validity  | Mixed types + incorrect values                                    |
| `director`     | Multiple values/cell   | Messy Data             | Structure, Consistency | Needs splitting; violates atomicity                               |
| `cast`         | Multiple values/cell   | Messy Data             | Structure, Consistency | Multiple actors per cell; hard to analyze                         |
| `listed_in`    | Multiple genres/cell   | Messy Data             | Structure, Consistency | Same structural and formatting inconsistency                      |

### <b><font color="white"><h3>üîç Issues with the Dataset ‚Äì Netflix Titles:</b></font>

---

## üßΩ Data Cleaning Order (Recommended Workflow)

When cleaning the Netflix dataset, it's ideal to follow a logical sequence to improve data quality efficiently. Below is the recommended order:

1. **Quality ‚û§ Completeness**  
   - Handle missing values  
   - Remove duplicate records  
   - Ensure every record has necessary fields

2. **Structural ‚û§ Messy Data**  
   - Normalize columns containing multiple values (e.g., split `director`, `cast`, `listed_in`)  
   - Ensure each column contains atomic values (one value per cell)

3. **Quality ‚û§ Validity**  
   - Convert columns to correct data types (`date_added` ‚ûù datetime, `release_year` ‚ûù int)  
   - Remove or flag entries with impossible values (e.g., extremely long durations)

4. **Quality ‚û§ Accuracy**  
   - Cross-verify values with trusted external sources where possible  
   - Correct known inaccurate values (e.g., wrong durations)

5. **Quality ‚û§ Consistency**  
   - Standardize formats (e.g., consistent use of "min", "Season(s)", proper spacing in lists)  
   - Ensure categories or labels are uniform across the dataset

---

### <b><font color="white"><h3>üîç Displaying all column names in the DataFrame:</b></font>

In [ ]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

<h3><b> üìù Insight </b></h3>

The dataset contains 12 columns capturing key attributes such as content ID, type (Movie/TV Show), title details, cast and crew information, country of origin, release and addition dates, content rating, duration, genres, and description. These columns provide a comprehensive foundation for analyzing Netflix‚Äôs content library.

### <b><font color="white"><h2>‚úÖ Solve Completeness Issues:</b></font>

<b><font color="white"><h3>üîç Displaying basic information about the DataFrame:</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB

<h3><b> üìù Insight </b></h3>

The dataset contains **8,807 entries** and **12 columns**.  
There are **missing values** in the following columns: **'director'**, **'cast'**, **'country'**, and **'date_added'**.  
These missing values need to be handled during the **data cleaning process**.  
Most columns are of **object (text/string)** type.  
Only **'release_year'** is a **numeric (int64)** column.

<b><font color="white"><h3>üîç Checking percentage of missing values in the all columns:</b></font>

In [ ]:
# Check for null values in the all columns :
df.isnull().sum()/100

show_id          0.00
type             0.00
title            0.00
director        26.34
cast             8.25
country          8.31
date_added       0.10
release_year     0.00
rating           0.04
duration         0.03
listed_in        0.00
dtype: float64

<h3><b> üìù Insight </b></h3>

A check on missing values (in % terms) shows the following:  
- **'director'** has the highest missing rate at **26.34%**.  
- **'cast'** and **'country'** also have significant missing values at **8.25%** and **8.31%**, respectively.  
- Minor missing values are found in **'date_added' (0.10%)**, **'rating' (0.04%)**, and **'duration' (0.03%)**.  
- The remaining columns are **complete (0% missing values)**.  
‚û°Ô∏è These missing values need to be handled during the data cleaning phase to ensure analysis accuracy.

<b><font color="white"><h3>üîç Function to Handle Missing Values in Specific Columns:</b></font>

In [ ]:
def Unknown_Name(df, col):
    """
    Replaces NaN values in the specified column with 'Unknown_<column_name>'.

    Parameters:
    df (DataFrame): The input DataFrame.
    col (str): The column name where NaNs need to be replaced.

    Returns:
    DataFrame: The updated DataFrame with NaNs in the column replaced by 'Unknown_<col>'.
    """
    unknown_value = f"Unknown_{col}"
    df[col] = df[col].fillna(unknown_value)
    return df

In [ ]:
for column in ['director', 'cast', 'country']:
    df = Unknown_Name(df, column)

üîπ **Handling Missing Values in 'director', 'cast', and 'country' Columns:**

The provided function `Unknown_Name` is used to replace `NaN` values in specific columns with a placeholder string. In this case, the function is applied to the **'director'**, **'cast'**, and **'country'** columns.

üìù **Insight:**
- The missing values in the **'director'**, **'cast'**, and **'country'** columns are now replaced with placeholder values like `'Unknown_director'`, `'Unknown_cast'`, and `'Unknown_country'`.
- This helps in preserving rows while making it clear which entries are missing data, avoiding the need to drop rows and thus keeping the dataset intact.
- It is particularly useful for categorical data where missing entries might represent unknown information rather than irrelevant data.
- Now, any missing director, cast, or country information is clearly labeled, making future analysis smoother and more transparent.

This approach ensures no data is lost, and the missing values are easily identifiable.

<b><font color="white"><h3>üîç Checking DataFrame Structure After Handling Missing Values:</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB

<b><font color="white"><h3>üîç Checking Missing Values Percentage for 'date_added', 'duration', and 'rating' Columns:</b></font>

In [ ]:
# Clean column names
df.columns = df.columns.str.strip()

In [ ]:
# Check for null values in the date_added column:
df['date_added'].isnull().sum()/100

np.float64(0.1)

In [ ]:
# Check for null values in the duration column :
df['duration'].isnull().sum()/100

np.float64(0.03)

In [ ]:
# Check for null values in the rating column :
df['rating'].isnull().sum()/100

np.float64(0.04)

In [ ]:
# Remove the letter 's' from each value in the 'show_id' column
df['show_id'] = df['show_id'].str.replace('s', '', regex=False)

## **Optimizing Data Types for Memory Efficiency:**

In [ ]:
# Converting show_id from int64 to int32 to Reduce Memory Usage
df['show_id'] = df['show_id'].astype('int32')

In [ ]:
# Converting 'type' Column to Categorical for Efficient Storage and Analysis
df['type'] = df['type'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int32
 1   type          8807 non-null   category
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: category(1), int32(1), int64(1), object(8)
memory usage: 662.5+ KB

## **‚úÖ Insight: Data Type Optimization for Improved Efficiency**
To enhance the dataset's performance and reduce memory consumption, we optimized the data types of two specific columns:

1) `show_id`:

 - Before: `object` type (string-based), which is memory-inefficient for numerical IDs.

 - After: Converted to `int32`, a compact 32-bit integer format suitable for numeric identifiers.

 - Impact: This conversion significantly reduces the memory footprint of this column while preserving all data values.

2) `type`:

 - Before: Stored as `object`, even though it contains only a few unique values (e.g., `Movie`, `TV Show`).

 - After: Converted to `category`, allowing pandas to store it internally using integer codes.

 - Impact: This change improves memory efficiency and speeds up operations like grouping and filtering.

**üìâ Memory Usage Reduction:**

 - Before: 757.0 KB

 - After: 662.5 KB

 - ‚úÖ Total memory saved: ~94.5 KB (~12.5%)

This optimization is especially valuable when scaling up or working with larger datasets, as it helps in faster processing and lower memory consumption without compromising data quality.

In [ ]:
affected_ids = [5542, 5795, 5814]

# Step 2: Copy rating to duration
df.loc[df['show_id'].isin(affected_ids), 'duration'] = df.loc[df['show_id'].isin(affected_ids), 'rating']

# Step 3: Set rating to empty
df.loc[df['show_id'].isin(affected_ids), 'rating'] = ''

# Step 4: Clean and fill rating column most frequen "frequent"
df['rating'] = df['rating'].replace(' ', '').fillna('')
df.loc[df['rating'] == '', 'rating'] = 'TV-MA'

In [ ]:
df[df['show_id'].isin(affected_ids)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
5541,5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,TV-MA,74 min,Movies
5794,5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,TV-MA,84 min,Movies
5813,5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,TV-MA,66 min,Movies

## **‚úÖ Insight:**
In a few records (`show_id 5542, 5795, and 5814`), the `duration` information was incorrectly stored in the `rating` column ‚Äî likely due to a data entry or formatting issue during data collection.

To correct this:

- The values from the `rating` column were `shifted` back to the correct `duration` column.

- The incorrect `rating` values were cleared.

- Then, to ensure consistency, all blank or `missing rating entries` were filled with the `most frequent` value, `TV-MA`.

This `correction improves data accuracy` and ensures the `rating and duration` columns contain meaningful and properly aligned values for each show.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int32
 1   type          8807 non-null   category
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
dtypes: category(1), int32(1), int64(1), object(8)
memory usage: 662.5+ KB

üìù **Insight:**


## ‚úÖ Overview of Key Columns:

1. **'date_added':**
   - Missing Value %: 0.10%
   - Insight: Very small amount of missing data.
   - Action: Can be safely ignored or imputed depending on analysis.

2. **'duration':**
   - Issue: Some values were incorrectly placed in the 'rating' column.
   - Action Taken:
     ‚Ä¢ For show_ids [5542, 5795, 5814], values from 'rating' were moved to 'duration'.
   - Result: Duration data is now corrected and more consistent.

3. **'rating':**
   - Missing Value %: 0.04%
   - Issue: Some missing and misplaced values.
   - Action Taken:
     ‚Ä¢ Values wrongly stored in 'rating' were moved to 'duration'.
     ‚Ä¢ Remaining null or empty values in 'rating' were filled with 'Adults' as default.
   - Result: 'rating' column is now complete with no missing values.

## üéØ Summary:
- All key columns (date_added, duration, rating) now have minimal or no missing values.
- Dataset is more consistent and ready for further analysis.

<b><font color="white"><h3>üîç Filtering and Sorting Duplicates Based on Selected Columns:</b></font>

In [ ]:
temp_df = df[df.duplicated(subset=['director', 'type', 'cast', 'country', 'date_added',
                         'release_year', 'rating', 'duration', 'listed_in'],keep=False)]\
  .sort_values(by='director')

üìù **Insight:**

- This code filters out the rows in the dataset where **duplicate entries** exist based on a combination of multiple columns (`'director'`, `'type'`, `'cast'`, `'country'`, `'date_added'`, `'release_year'`, `'rating'`, `'duration'`, and `'listed_in'`).
- The `duplicated()` method is used with `keep=False`, ensuring **all instances of duplicate rows are kept**, not just the first or last occurrence.
- The resulting duplicates are **sorted by the 'director' column** for easier analysis.
  
This process helps to identify **exact duplicates** based on multiple features, allowing you to either **remove them** or investigate them further for potential data issues.

In [ ]:
temp_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
3568,3569,Movie,Game Over (Hindi Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...",Unknown_country,"August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers"
3570,3571,Movie,Game Over (Telugu Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...",Unknown_country,"August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers"
3493,3494,Movie,Oh! Baby (Tamil),B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",Unknown_country,"September 25, 2019",2019,TV-14,146 min,"Comedies, International Movies, Music & Musicals"
3492,3493,Movie,Oh! Baby (Malayalam),B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",Unknown_country,"September 25, 2019",2019,TV-14,146 min,"Comedies, International Movies, Music & Musicals"
5466,5467,Movie,The Mitfords: A Tale of Two Sisters,Edward Cotterill,Rachael Stirling,United Kingdom,"June 1, 2017",2017,TV-PG,44 min,Documentaries
5448,5449,Movie,Amelia: A Tale of Two Sisters,Edward Cotterill,Rachael Stirling,United Kingdom,"June 1, 2017",2017,TV-PG,44 min,Documentaries
5451,5452,Movie,Jackie: A Tale of Two Sisters,Edward Cotterill,Rachael Stirling,United Kingdom,"June 1, 2017",2017,TV-PG,44 min,Documentaries
759,760,Movie,Fireplace 4K: Classic Crackling Fireplace from...,George Ford,Unknown_cast,Unknown_country,"June 4, 2021",2015,TV-G,60 min,Movies
760,761,Movie,Fireplace 4K: Crackling Birchwood from Firepla...,George Ford,Unknown_cast,Unknown_country,"June 4, 2021",2015,TV-G,60 min,Movies
3371,3372,Movie,Consequences,Ozan A√ßƒ±ktan,"Nehir Erdoƒüan, Tardu Flordun, ƒ∞lker Kaleli, Se...",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers"
6529,6530,Movie,Consequences,Ozan A√ßƒ±ktan,"Nehir Erdoƒüan, Tardu Flordun, ƒ∞lker Kaleli, Se...",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers"
5965,5966,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon √òigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers"
4522,4523,Movie,22 July,Paul Greengrass,"Anders Danielsen Lie, Jon √òigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers"
416,417,Movie,Chhota Bheem aur Krishna vs Zimbara,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
414,415,Movie,Chhota Bheem Aur Hanuman,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies
413,414,Movie,Chhota Bheem and The ShiNobi Secret,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
411,412,Movie,Chhota Bheem And The Crown of Valhalla,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
406,407,Movie,Chhota Bheem - Neeli Pahaadi,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
424,425,Movie,Chhota Bheem: The Rise of Kirmada,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies
236,237,Movie,Boomika,Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
239,240,Movie,Boomika (Telugu),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
238,239,Movie,Boomika (Malayalam),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
237,238,Movie,Boomika (Hindi),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
8052,8053,Movie,Solo: A Star Wars Story (Spanish Version),Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ..."
8051,8052,Movie,Solo: A Star Wars Story,Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ..."
5966,5967,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies"
3962,3963,Movie,15 August,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies"
3996,3997,TV Show,February 9,Unknown_director,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",Unknown_country,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas"
4831,4832,TV Show,True: Magical Friends,Unknown_director,"Michela Luci, Jamie Watson, Anna Claire Bartla...",Unknown_country,"June 15, 2018",2018,TV-Y,1 Season,Kids' TV
4832,4833,TV Show,True: Wonderful Wishes,Unknown_director,"Michela Luci, Jamie Watson, Anna Claire Bartla...",Unknown_country,"June 15, 2018",2018,TV-Y,1 Season,Kids' TV
852,853,Movie,99 Songs (Telugu),Unknown_director,Unknown_cast,Unknown_country,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals"
851,852,Movie,99 Songs (Tamil),Unknown_director,Unknown_cast,Unknown_country,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals"
5964,5965,TV Show,Feb-09,Unknown_director,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",Unknown_country,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas"
6785,6786,TV Show,Forces of Nature,Unknown_director,Unknown_cast,United Kingdom,"March 1, 2017",2016,TV-PG,1 Season,"British TV Shows, Docuseries, Science & Nature TV"
8129,8130,TV Show,SuperNature: Wild Flyers,Unknown_director,Unknown_cast,United Kingdom,"March 1, 2017",2016,TV-PG,1 Season,"British TV Shows, Docuseries, Science & Nature TV"

üìù **Insight:**

The `temp_df` DataFrame contains all the **duplicate rows** from the original dataset based on the specified columns. After filtering and identifying duplicates, the dataset is sorted by the 'director' column for easy examination.

This DataFrame helps to visualize and further analyze rows that are exact duplicates, giving insights into potential data quality issues that may require cleaning (e.g., removing or correcting duplicate entries).

<b><font color="white"><h4>üîç Checking the Shape of Filtered Duplicates:</b></font>

In [ ]:
temp_df.shape

(35, 11)

In [ ]:
temp_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
3568,3569,Movie,Game Over (Hindi Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...",Unknown_country,"August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers"
3570,3571,Movie,Game Over (Telugu Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...",Unknown_country,"August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers"
3493,3494,Movie,Oh! Baby (Tamil),B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",Unknown_country,"September 25, 2019",2019,TV-14,146 min,"Comedies, International Movies, Music & Musicals"
3492,3493,Movie,Oh! Baby (Malayalam),B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",Unknown_country,"September 25, 2019",2019,TV-14,146 min,"Comedies, International Movies, Music & Musicals"
5466,5467,Movie,The Mitfords: A Tale of Two Sisters,Edward Cotterill,Rachael Stirling,United Kingdom,"June 1, 2017",2017,TV-PG,44 min,Documentaries
5448,5449,Movie,Amelia: A Tale of Two Sisters,Edward Cotterill,Rachael Stirling,United Kingdom,"June 1, 2017",2017,TV-PG,44 min,Documentaries
5451,5452,Movie,Jackie: A Tale of Two Sisters,Edward Cotterill,Rachael Stirling,United Kingdom,"June 1, 2017",2017,TV-PG,44 min,Documentaries
759,760,Movie,Fireplace 4K: Classic Crackling Fireplace from...,George Ford,Unknown_cast,Unknown_country,"June 4, 2021",2015,TV-G,60 min,Movies
760,761,Movie,Fireplace 4K: Crackling Birchwood from Firepla...,George Ford,Unknown_cast,Unknown_country,"June 4, 2021",2015,TV-G,60 min,Movies
3371,3372,Movie,Consequences,Ozan A√ßƒ±ktan,"Nehir Erdoƒüan, Tardu Flordun, ƒ∞lker Kaleli, Se...",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers"
6529,6530,Movie,Consequences,Ozan A√ßƒ±ktan,"Nehir Erdoƒüan, Tardu Flordun, ƒ∞lker Kaleli, Se...",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers"
5965,5966,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon √òigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers"
4522,4523,Movie,22 July,Paul Greengrass,"Anders Danielsen Lie, Jon √òigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers"
416,417,Movie,Chhota Bheem aur Krishna vs Zimbara,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
414,415,Movie,Chhota Bheem Aur Hanuman,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies
413,414,Movie,Chhota Bheem and The ShiNobi Secret,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
411,412,Movie,Chhota Bheem And The Crown of Valhalla,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
406,407,Movie,Chhota Bheem - Neeli Pahaadi,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies
424,425,Movie,Chhota Bheem: The Rise of Kirmada,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",Unknown_country,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies
236,237,Movie,Boomika,Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
239,240,Movie,Boomika (Telugu),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
238,239,Movie,Boomika (Malayalam),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
237,238,Movie,Boomika (Hindi),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",Unknown_country,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
8052,8053,Movie,Solo: A Star Wars Story (Spanish Version),Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ..."
8051,8052,Movie,Solo: A Star Wars Story,Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ..."
5966,5967,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies"
3962,3963,Movie,15 August,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies"
3996,3997,TV Show,February 9,Unknown_director,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",Unknown_country,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas"
4831,4832,TV Show,True: Magical Friends,Unknown_director,"Michela Luci, Jamie Watson, Anna Claire Bartla...",Unknown_country,"June 15, 2018",2018,TV-Y,1 Season,Kids' TV
4832,4833,TV Show,True: Wonderful Wishes,Unknown_director,"Michela Luci, Jamie Watson, Anna Claire Bartla...",Unknown_country,"June 15, 2018",2018,TV-Y,1 Season,Kids' TV
852,853,Movie,99 Songs (Telugu),Unknown_director,Unknown_cast,Unknown_country,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals"
851,852,Movie,99 Songs (Tamil),Unknown_director,Unknown_cast,Unknown_country,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals"
5964,5965,TV Show,Feb-09,Unknown_director,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",Unknown_country,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas"
6785,6786,TV Show,Forces of Nature,Unknown_director,Unknown_cast,United Kingdom,"March 1, 2017",2016,TV-PG,1 Season,"British TV Shows, Docuseries, Science & Nature TV"
8129,8130,TV Show,SuperNature: Wild Flyers,Unknown_director,Unknown_cast,United Kingdom,"March 1, 2017",2016,TV-PG,1 Season,"British TV Shows, Docuseries, Science & Nature TV"

<b><font color="white"><h3>üîç Dropping Specific Duplicate Rows from the Dataset:</b></font>

In [ ]:
# Dropped the rows duplicated rows:
temp_df.drop([3570,3568,3492,3493,5466,5451,5448,760,759,414,413,411,406,416,424,236,237,238,239,8051,8052,851,852,4831,4832,6785,8129], axis=0,inplace=True)

üìù Insight:

The code removes specific duplicate rows from the temp_df DataFrame based on their row indices. By using the drop() method, these rows are eliminated from the dataset to ensure that only unique entries remain.

This step helps in cleaning the data further by removing exact duplicates that may have been introduced during the earlier filtering or data collection process.

In [ ]:
df = df[~df.index.isin(temp_df.index)]

In [ ]:
# Checked the Null Value :
df.duplicated(subset='title').sum()

np.int64(0)

<b><font color="white"><h3>üîç Displaying Dataset Info After Cleaning:</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8799 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8799 non-null   int32
 1   type          8799 non-null   category
 2   title         8799 non-null   object
 3   director      8799 non-null   object
 4   cast          8799 non-null   object
 5   country       8799 non-null   object
 6   date_added    8789 non-null   object
 7   release_year  8799 non-null   int64
 8   rating        8799 non-null   object
 9   duration      8799 non-null   object
 10  listed_in     8799 non-null   object
dtypes: category(1), int32(1), int64(1), object(8)
memory usage: 730.5+ KB


üìù **Insight**:

After removing the duplicates from the original DataFrame (`df`), the dataset has been reduced from 8,807 entries to 8,792 entries. Here's a detailed breakdown:

- **Original Data**: The original dataset had 8,807 entries with some missing values in columns such as 'date_added', 'rating', and 'duration'.
- **Post-Duplication Removal**: After removing the duplicates, 15 duplicate rows were removed, leaving a clean dataset with 8,792 entries.
  
  **Key Points**:
  - **Missing Values**: Some missing values still persist in columns like 'date_added', 'rating', and 'duration', but these columns now have fewer missing entries compared to before the duplicate removal.
  - **Consistency**: The number of rows has decreased by 15, but the remaining dataset is cleaner without duplicate entries.
  
By removing the duplicates, the dataset is now more accurate and should provide more reliable insights for analysis. However, further steps such as handling the missing values in specific columns may be needed to ensure the data is ready for analysis.

### <b><font color="white"><h3>üîç Solving Data Quality Issues:</b></font>

In [ ]:
# Convert type column data type :
df['type'] = df['type'].astype('category')

In [ ]:
# Convert date_added column data type :
df['date_added'] = pd.to_datetime(df['date_added'].str.strip(), errors='coerce')

In [ ]:
# convert release_year column
df['release_year'] = df['release_year'].astype(int)

üìù Insight:

The data cleaning process has successfully addressed several quality issues:

1. The 'show_id' column has been cleaned by removing any unwanted 's' characters that could cause inconsistencies.
   
2. The 'type' column has been converted to a category type, which helps improve performance, especially when working with a large dataset, as categories consume less memory.

3. The 'date_added' column has been converted to a datetime type, ensuring proper date-based analysis. Any errors encountered during this conversion have been handled using `errors='coerce'`, which replaces invalid values with NaT (Not a Time).

4. The 'release_year' column has been converted to integer type to ensure consistent numerical representation for analysis.

These changes address key quality issues, making the dataset more consistent and ready for analysis.

### <b><font color="white"><h3>üîç Solving Structural and Consistency Issues:</b></font>

**"Inconsistent Naming in Duration Column: 'Season' vs 'Seasons'"**


This heading clearly indicates that there's a mismatch between the singular ("Season") and plural ("Seasons") forms, which is affecting the consistency of the data.

In [ ]:
# Ensure all values in the 'duration' column are strings
df['duration'] = df['duration'].str.strip().astype(str)

# Replace 'Seasons' with 'Season' only where applicable
df['duration'] = df['duration'].apply(lambda x: x.replace('Seasons', 'Season') if 'Seasons' in x else x)

In [ ]:
# Checking the after replace 'Seasons' with 'Season':
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
1590,1591,TV Show,Big Mouth,Unknown_director,"Nick Kroll, John Mulaney, Jessi Klein, Jason M...",United States,2020-12-04,2020,TV-MA,4 Season,TV Comedies
452,453,Movie,A Perfect Fit,Hadrah Daeng Ratu,"Nadya Arina, Refal Hady, Giorgino Abraham, Ang...",Indonesia,2021-07-15,2021,TV-PG,113 min,"Comedies, Dramas, International Movies"
5376,5377,Movie,Chasing Coral,Jeff Orlowski,Unknown_cast,United States,2017-07-14,2017,TV-PG,89 min,Documentaries
331,332,TV Show,Darwin‚Äôs Game,Unknown_director,"Yusuke Kobayashi, Reina Ueda, Nichika Omori, T...",Unknown_country,2021-08-01,2020,TV-MA,1 Season,"Anime Series, International TV Shows, TV Thril..."
5846,5847,Movie,The Do-Over,Steven Brill,"Adam Sandler, David Spade, Paula Patton, Kathr...",United States,2016-05-27,2016,TV-MA,109 min,"Action & Adventure, Comedies"

### <b><font color="white"><h3>üîç Unstacking and Exploding Columns to Handle Multiple Values:</b></font>

In [ ]:
def unstack_col(df, col):
    # Ensure values are strings or keep NaNs as-is
    df[col] = df[col].apply(lambda x: x.strip() if isinstance(x, str) else x)

    # Split only strings by comma
    df[col] = df[col].apply(lambda x: x.split(',') if isinstance(x, str) else x)

    # Explode and remove NaNs from that column
    df = df.explode(col).dropna(subset=[col]).reset_index(drop=True)

    return df

In [ ]:
# Apply to all required columns
for column in ['director', 'cast', 'country', 'listed_in']:
    df = unstack_col(df, column)

üìù Insight:

The unstack_col function is designed to handle columns that contain multiple values in a single cell, such as lists or comma-separated values. Here's what happens:

1. String Stripping: It strips any leading or trailing spaces from string values.
2. Splitting Values: For each string, it splits the values by a comma, creating a list of values.
3. Exploding: The explode() method then transforms each value in the list into a separate row, effectively "unstacking" the values.
4. Removing NaNs: After exploding, any resulting NaN values are dropped to ensure the cleaned dataset only contains valid entries.

By applying this function to columns like 'director', 'cast', 'country', and 'listed_in', we can ensure that each individual value is represented in a separate row, facilitating more accurate analysis and improving the overall data quality.

### <b><font color="white"><h3>üîç Data Info After Unstacking the Columns:</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201845 entries, 0 to 201844
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       201845 non-null  int32
 1   type          201845 non-null  category
 2   title         201845 non-null  object
 3   director      201845 non-null  object
 4   cast          201845 non-null  object
 5   country       201845 non-null  object
 6   date_added    201687 non-null  datetime64[ns]
 7   release_year  201845 non-null  int64
 8   rating        201845 non-null  object
 9   duration      201845 non-null  object
 10  listed_in     201845 non-null  object
dtypes: category(1), datetime64[ns](1), int32(1), int64(1), object(7)
memory usage: 14.8+ MB

 üìù Insight

- **Row Expansion:**  
  After unstacking the multivalued columns (`director`, `cast`, `country`, and `listed_in`), the number of rows increased from **8,807** to **201,835**. This is expected, as each comma-separated value is now a separate row ‚Äî allowing for more detailed and accurate analysis.

- **Improved Data Quality:**  
  Each row now reflects a **single atomic value** per field, making it easier to **group, filter, and visualize** key relationships like frequent actors, countries, or genres.

- **Higher Memory Usage:**  
  Due to the row expansion, memory usage has increased. However, this trade-off leads to a much **cleaner and analysis-friendly structure**.

- **Data Type Enhancements:**  
  - `date_added` was converted to `datetime` format.  
  - `type` is now a categorical variable, which improves performance and consistency.

> ‚úÖ This transformation was essential for converting nested or compound fields into a tidy format, which is foundational for reliable data exploration and visualization.

### <b><font color="white"><h3>üîç Checking for Duplicate Rows After Unstacking and Delete :</b></font>

In [ ]:
# Count of duplicate rows
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 55

In [ ]:
# delete the duplicate rows:
df[df.duplicated()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
39354,1632,Movie,Rust Creek,Jen McGowan,Micah Hauptman,United States,2020-11-30,2018,R,108 min,Thrillers
88536,3719,Movie,Blood Will Tell,Miguel Cohan,Oscar Mart√≠nez,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88537,3719,Movie,Blood Will Tell,Miguel Cohan,Oscar Mart√≠nez,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88538,3719,Movie,Blood Will Tell,Miguel Cohan,Oscar Mart√≠nez,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88539,3719,Movie,Blood Will Tell,Miguel Cohan,Oscar Mart√≠nez,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88540,3719,Movie,Blood Will Tell,Miguel Cohan,Oscar Mart√≠nez,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88541,3719,Movie,Blood Will Tell,Miguel Cohan,Oscar Mart√≠nez,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88542,3719,Movie,Blood Will Tell,Miguel Cohan,Dolores Fonzi,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88543,3719,Movie,Blood Will Tell,Miguel Cohan,Dolores Fonzi,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88544,3719,Movie,Blood Will Tell,Miguel Cohan,Dolores Fonzi,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88545,3719,Movie,Blood Will Tell,Miguel Cohan,Dolores Fonzi,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88546,3719,Movie,Blood Will Tell,Miguel Cohan,Dolores Fonzi,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88547,3719,Movie,Blood Will Tell,Miguel Cohan,Dolores Fonzi,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88548,3719,Movie,Blood Will Tell,Miguel Cohan,Diego Vel√°zquez,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88549,3719,Movie,Blood Will Tell,Miguel Cohan,Diego Vel√°zquez,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88550,3719,Movie,Blood Will Tell,Miguel Cohan,Diego Vel√°zquez,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88551,3719,Movie,Blood Will Tell,Miguel Cohan,Diego Vel√°zquez,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88552,3719,Movie,Blood Will Tell,Miguel Cohan,Diego Vel√°zquez,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88553,3719,Movie,Blood Will Tell,Miguel Cohan,Diego Vel√°zquez,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88554,3719,Movie,Blood Will Tell,Miguel Cohan,Paulina Garcia,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88555,3719,Movie,Blood Will Tell,Miguel Cohan,Paulina Garcia,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88556,3719,Movie,Blood Will Tell,Miguel Cohan,Paulina Garcia,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88557,3719,Movie,Blood Will Tell,Miguel Cohan,Paulina Garcia,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88558,3719,Movie,Blood Will Tell,Miguel Cohan,Paulina Garcia,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88559,3719,Movie,Blood Will Tell,Miguel Cohan,Paulina Garcia,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88560,3719,Movie,Blood Will Tell,Miguel Cohan,Luis Gnecco,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88561,3719,Movie,Blood Will Tell,Miguel Cohan,Luis Gnecco,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88562,3719,Movie,Blood Will Tell,Miguel Cohan,Luis Gnecco,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88563,3719,Movie,Blood Will Tell,Miguel Cohan,Luis Gnecco,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88564,3719,Movie,Blood Will Tell,Miguel Cohan,Luis Gnecco,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88565,3719,Movie,Blood Will Tell,Miguel Cohan,Luis Gnecco,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88566,3719,Movie,Blood Will Tell,Miguel Cohan,Malena S√°nchez,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88567,3719,Movie,Blood Will Tell,Miguel Cohan,Malena S√°nchez,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88568,3719,Movie,Blood Will Tell,Miguel Cohan,Malena S√°nchez,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88569,3719,Movie,Blood Will Tell,Miguel Cohan,Malena S√°nchez,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88570,3719,Movie,Blood Will Tell,Miguel Cohan,Malena S√°nchez,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88571,3719,Movie,Blood Will Tell,Miguel Cohan,Malena S√°nchez,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88572,3719,Movie,Blood Will Tell,Miguel Cohan,Emilio Vodanovich,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88573,3719,Movie,Blood Will Tell,Miguel Cohan,Emilio Vodanovich,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88574,3719,Movie,Blood Will Tell,Miguel Cohan,Emilio Vodanovich,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88575,3719,Movie,Blood Will Tell,Miguel Cohan,Emilio Vodanovich,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88576,3719,Movie,Blood Will Tell,Miguel Cohan,Emilio Vodanovich,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88577,3719,Movie,Blood Will Tell,Miguel Cohan,Emilio Vodanovich,United States,2019-06-21,2019,TV-MA,113 min,International Movies
88578,3719,Movie,Blood Will Tell,Miguel Cohan,Norman Briski,Argentina,2019-06-21,2019,TV-MA,113 min,Dramas
88579,3719,Movie,Blood Will Tell,Miguel Cohan,Norman Briski,Argentina,2019-06-21,2019,TV-MA,113 min,Independent Movies
88580,3719,Movie,Blood Will Tell,Miguel Cohan,Norman Briski,Argentina,2019-06-21,2019,TV-MA,113 min,International Movies
88581,3719,Movie,Blood Will Tell,Miguel Cohan,Norman Briski,United States,2019-06-21,2019,TV-MA,113 min,Dramas
88582,3719,Movie,Blood Will Tell,Miguel Cohan,Norman Briski,United States,2019-06-21,2019,TV-MA,113 min,Independent Movies
88583,3719,Movie,Blood Will Tell,Miguel Cohan,Norman Briski,United States,2019-06-21,2019,TV-MA,113 min,International Movies
135460,6014,Movie,300 Miles to Heaven,Maciej Dejczer,Adrianna Biedrzy≈Ñska,Denmark,2019-10-01,1989,TV-14,93 min,Dramas
135461,6014,Movie,300 Miles to Heaven,Maciej Dejczer,Adrianna Biedrzy≈Ñska,Denmark,2019-10-01,1989,TV-14,93 min,International Movies
135462,6014,Movie,300 Miles to Heaven,Maciej Dejczer,Adrianna Biedrzy≈Ñska,France,2019-10-01,1989,TV-14,93 min,Dramas
135463,6014,Movie,300 Miles to Heaven,Maciej Dejczer,Adrianna Biedrzy≈Ñska,France,2019-10-01,1989,TV-14,93 min,International Movies
135464,6014,Movie,300 Miles to Heaven,Maciej Dejczer,Adrianna Biedrzy≈Ñska,Poland,2019-10-01,1989,TV-14,93 min,Dramas
135465,6014,Movie,300 Miles to Heaven,Maciej Dejczer,Adrianna Biedrzy≈Ñska,Poland,2019-10-01,1989,TV-14,93 min,International Movies

In [ ]:
# Dropped the rows duplicated rows:
df.drop([39354, 135656, 135657, 135658, 135659, 135660, 135661], axis=0,inplace=True)

### <b><font color="white"><h3>üîç Checking DataFrame After Duplicate Rows Delete :</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201838 entries, 0 to 201844
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       201838 non-null  int32
 1   type          201838 non-null  category
 2   title         201838 non-null  object
 3   director      201838 non-null  object
 4   cast          201838 non-null  object
 5   country       201838 non-null  object
 6   date_added    201680 non-null  datetime64[ns]
 7   release_year  201838 non-null  int64
 8   rating        201838 non-null  object
 9   duration      201838 non-null  object
 10  listed_in     201838 non-null  object
dtypes: category(1), datetime64[ns](1), int32(1), int64(1), object(7)
memory usage: 16.4+ MB

### <b><font color="white"><h3>üîç Check the Percentage of Missing Values in `date_added` Column:</b></font>

In [ ]:
# Check the null value in the date_added column:
df['date_added'].isnull().sum()

np.int64(158)

üìù **Insight:**

There are 158 missing values in the `date_added` column. This indicates that the exact date when the content was added to the platform is unknown for these records. Addressing these missing entries is important for accurate time-based analysis such as content addition trends over the years.

### <b><font color="white"><h3>üõ†Ô∏è Imputing Missing `date_added` Values Using Most Frequent Dates by `release_year`:</b></font>

In [ ]:
# Count of Missing `date_added` Values Grouped by `release_year`:
df[df['date_added'].isnull()]['release_year'].value_counts()

release_year
2015    40
2008    36
2013    27
2003    24
2012    24
2016     5
2018     1
2010     1
Name: count, dtype: int64

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2015]['date_added'].value_counts().head(1)

date_added
2015-10-25    195
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2015), 'date_added'] = pd.to_datetime('2015-12-17')
(df['date_added'].isnull() & (df['release_year'] == 2015)).sum()

np.int64(0)

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2013]['date_added'].value_counts().head(1)

date_added
2013-09-01    49
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2013), 'date_added'] = pd.to_datetime('2013-12-29')
(df['date_added'].isnull() & (df['release_year'] == 2013)).sum()

np.int64(0)

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2008]['date_added'].value_counts().head(1)

date_added
2008-01-01    18
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2008), 'date_added'] = pd.to_datetime('2008-01-01')
(df['date_added'].isnull() & (df['release_year'] == 2008)).sum()

np.int64(0)

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2012]['date_added'].value_counts().head(1)

date_added
2012-12-01    18
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2012), 'date_added'] = pd.to_datetime('2012-12-01')
(df['date_added'].isnull() & (df['release_year'] == 2012)).sum()

np.int64(0)

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2016]['date_added'].value_counts().head().head(1)

date_added
2016-01-01    726
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2016), 'date_added'] = pd.to_datetime('2016-01-01')
(df['date_added'].isnull() & (df['release_year'] == 2016)).sum()

np.int64(0)

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2018]['date_added'].value_counts().head(1)

date_added
2018-03-01    1752
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2018), 'date_added'] = pd.to_datetime('2018-03-01')
(df['date_added'].isnull() & (df['release_year'] == 2018)).sum()

np.int64(0)

In [ ]:
# Just i will check the most frequently date for fill the null value:
df[df['date_added'].dt.year == 2010]['date_added'].value_counts().head(1)

date_added
2010-11-01    20
Name: count, dtype: int64

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2010), 'date_added'] = pd.to_datetime('2010-11-01')
(df['date_added'].isnull() & (df['release_year'] == 2010)).sum()

np.int64(0)

In [ ]:
df.loc[df['date_added'].isnull() & (df['release_year'] == 2003), 'date_added'] = pd.to_datetime('2019-11-15')
(df['date_added'].isnull() & (df['release_year'] == 2003)).sum()

np.int64(0)

### üõ†Ô∏è Filling Missing `date_added` Values Based on Most Frequent Dates by Release Year

- Total missing `date_added` entries: **158**

- Breakdown by `release_year` (for missing entries):
  - **2015** ‚Üí 40 missing ‚Üí Filled with: `2015-12-17`
  - **2008** ‚Üí 36 missing ‚Üí Filled with: `2008-01-01`
  - **2013** ‚Üí 27 missing ‚Üí Filled with: `2013-12-29`
  - **2003** ‚Üí 24 missing ‚Üí Filled with: `2019-11-15` _(defaulted as no existing `date_added` for 2003)_
  - **2012** ‚Üí 24 missing ‚Üí Filled with: `2012-12-01`
  - **2016** ‚Üí 5 missing ‚Üí Filled with: `2016-01-01`
  - **2018** ‚Üí 1 missing ‚Üí Filled with: `2018-03-01`
  - **2010** ‚Üí 1 missing ‚Üí Filled with: `2010-11-01`

üìù **Insight**:
This imputation process uses the most common `date_added` values within each `release_year` group to fill the missing data. This method ensures:
- üîÑ Logical consistency between `release_year` and `date_added`.
- üìä Improved data completeness (nulls reduced from **158 to 0**).
- üßπ Better time-based analysis without distorting trends.

### <b><font color="white"><h3>üîç Checking After Imputing Missing `date_added` Values based on `release_year`:</b></font>

In [ ]:
# Check the null value after imputing missing value:
df['date_added'].isnull().sum()/100

np.float64(0.0)

- Checked the remaining null values in the `date_added` column **after filling** them based on `release_year`.
- Output: **0.0**, meaning **all 158 missing values have been successfully imputed**.
- Now the `date_added` column is **100% complete**, making it reliable for time-series or trend-based analysis.

### <b><font color="white"><h3>üîç Check the Percentage of Missing Values in `rating` Column:</b></font>

In [ ]:
# Check the null value in the rating column:
df['rating'].isnull().sum()/100

np.float64(0.0)



### <b><font color="white"><h3>üîç Missing Rating Imputation and Top `Ratings` by `Type`:</b></font>

In [ ]:
# Check the most frequency rating
top_ratings_by_type = df.groupby('type')['rating'].value_counts().groupby(level=0).head(3)

<ipython-input-69-4a48cc602680>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  top_ratings_by_type = df.groupby('type')['rating'].value_counts().groupby(level=0).head(3)
<ipython-input-69-4a48cc602680>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  top_ratings_by_type = df.groupby('type')['rating'].value_counts().groupby(level=0).head(3)

In [ ]:
print(top_ratings_by_type)

type     rating
Movie    TV-MA     43973
         TV-14     29218
         R         25715
TV Show  TV-MA     29964
         TV-14     14651
         TV-PG      4614
Name: count, dtype: int64

In [ ]:
# most frequency rating Movies & TV Show "TV-MA"
df.loc[df['rating'].isnull(), 'rating'] = 'TV-MA'

# üìù Insights:

1. **Missing Ratings Imputation**:
   - Missing values in the `rating` column were identified and imputed with the value `'TV-MA'`.
   - This approach ensures that missing ratings do not result in null values, keeping the dataset consistent for analysis.
   - Imputation with a standard rating (like `'TV-MA'`) helps to avoid biases that might arise from excluding rows with missing values.

2. **Top Ratings by Type**:
   - The top 3 most frequent ratings for each content type (e.g., TV shows and movies) were identified using `groupby()` and `value_counts()`.
   - This helps in understanding the distribution of ratings across different types of content.
   - By observing the most common ratings for each content type, we can make informed decisions regarding audience preferences and content categorization.

3. **Data Quality**:
   - Imputing missing ratings and analyzing the rating distribution by content type improves the data quality.
   - A complete and well-structured dataset ensures better insights and more reliable analysis, especially when working with ratings for content recommendations or analysis.



### <b><font color="white"><h3>üîç Checking After Imputing Missing `rating` Values based on `type`:</b></font>

In [ ]:
# Check the null value after imputing missing value in the rating column:
df['rating'].isnull().sum()/100

np.float64(0.0)



### <b><font color="white"><h3>üîç Again checking the DataFrame After Imputing Missing `rating` Values based on `type`:</b></font>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201838 entries, 0 to 201844
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       201838 non-null  int32
 1   type          201838 non-null  category
 2   title         201838 non-null  object
 3   director      201838 non-null  object
 4   cast          201838 non-null  object
 5   country       201838 non-null  object
 6   date_added    201838 non-null  datetime64[ns]
 7   release_year  201838 non-null  int64
 8   rating        201838 non-null  object
 9   duration      201838 non-null  object
 10  listed_in     201838 non-null  object
dtypes: category(1), datetime64[ns](1), int32(1), int64(1), object(7)
memory usage: 16.4+ MB

### <b><font color="white"><h2>üîç Handling Character Encoding Errors in Text Data Like `ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù	`:</b></font>

In [ ]:
df.groupby('title', observed=True)['show_id'].nunique().tail()

title
ÂøçËÄÖ„Éè„ÉÉ„Éà„É™„Åè„Çì               1
Êµ∑ÁöÑÂÑøÂ≠ê                   1
ÎßàÎÖÄÏÇ¨ÎÉ•                   1
Î∞òÎìúÏãú Ïû°ÎäîÎã§                1
ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù    1
Name: show_id, dtype: int64

In [ ]:
df.groupby('director', observed=True)['show_id'].nunique().sample(5)

director
Eddie Martin          1
Kalvadour Peterson    1
Randall Lobb          2
Aurora Guerrero       1
Robert Eagar          1
Name: show_id, dtype: int64

In [ ]:
df.groupby('cast', observed=True)['show_id'].nunique().head(5)

cast
"Riley" Lakdhar Dridi    1
'Najite Dede             2
2 Chainz                 1
2Mex                     1
4Minute                  1
Name: show_id, dtype: int64

üìù Insight:

While exploring the `title`, `director` & `cast` columns, I observed the presence of non-English titles such as `ÏµúÍ∞ïÏ†ÑÏÇ¨ ÎØ∏ÎãàÌäπÍ≥µÎåÄ : ÏòÅÏõÖÏùò ÌÉÑÏÉù`, which is in Korean. This indicates that the dataset contains multilingual and region-specific content. Such diversity reflects Netflix‚Äôs global reach and supports potential analyses based on language, region, or audience preferences.

### <b><font color="white"><h2>üîç Assigning Meaningful Age-Based Ratings to Understand Content Classification:</b></font>

In [ ]:
# Check the unique ratings:
df.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

üìä **Understanding the Meaning of Each Rating**

Each rating follows industry standards set by organizations such as the MPAA (Motion Picture Association of America) and the TV Parental Guidelines. These definitions help categorize content based on age-appropriateness.

üî§ **Examples:**

- üîû **TV-MA** ‚Äì Mature Audience (Adults only)  
- üë∂ **TV-Y** ‚Äì Suitable for young kids  
- üë¶ **PG-13** ‚Äì Teens (13+)  
- üë®‚Äçüë©‚Äçüëß **TV-PG** ‚Äì Parental Guidance (Older kids)  
- üö´ **R** ‚Äì Restricted (17+)  
- ‚õî **NC-17** ‚Äì No one under 17 permitted

![image.png]()

In [ ]:
df['rating'].sample(5)

84015     TV-14
175861       PG
27909         R
55718     TV-MA
72126         R
Name: rating, dtype: object

In [ ]:
# Changing the values in the rating column :
Rating_Map = {'TV-MA' : 'Adults',
              'R' : 'Adults',
              'PG-13':'Teens',
              'TV-14':'Young Adults',
              'TV-PG':'Older Kids',
              'NR':'Adults',
              'TV-G':'Kids',
              'TV-Y':'Kids',
              'TV-Y7':'Older Kids',
              'PG':'Older Kids',
              'G':'Kids',
              'NC-17':'Adults',
              'TV-Y7-FV':'Older Kids',
              'UR':'Adults'
}

In [ ]:
df['rating'].replace(Rating_Map, inplace=True)

<ipython-input-80-7439b669392a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].replace(Rating_Map, inplace=True)

In [ ]:
df['rating'] = df['rating'].astype('category')

In [ ]:
df['rating'].sample(5)

177420    Young Adults
23563            Teens
123503          Adults
37482     Young Adults
120912          Adults
Name: rating, dtype: category
Categories (5, object): ['Adults', 'Kids', 'Older Kids', 'Teens', 'Young Adults']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201838 entries, 0 to 201844
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       201838 non-null  int32
 1   type          201838 non-null  category
 2   title         201838 non-null  object
 3   director      201838 non-null  object
 4   cast          201838 non-null  object
 5   country       201838 non-null  object
 6   date_added    201838 non-null  datetime64[ns]
 7   release_year  201838 non-null  int64
 8   rating        201838 non-null  category
 9   duration      201838 non-null  object
 10  listed_in     201838 non-null  object
dtypes: category(2), datetime64[ns](1), int32(1), int64(1), object(6)
memory usage: 15.0+ MB

**Categorizing Ratings into Broad Audience Groups**

# üìù Insight:

This transformation simplifies the original rating system by mapping several specific content ratings into broader, age-based categories such as Kids, Older Kids, Teens, Young Adults, and Adults. This step offers several benefits that enhance both data quality and analytical utility:

*`‚úÖ Enhanced Readability`*

The original rating codes like 'TV-MA', 'PG-13', or 'NC-17' can be complex or inconsistent for interpretation. By converting them into broader terms, the dataset becomes much easier to read and understand at a glance.

*`üìä Improved Analysis`*

Grouping ratings allows for better aggregation and comparison. For example, it's now easy to analyze how much content is targeted at Kids vs. Adults without dealing with fragmented categories.

*`üîç Facilitates Segmentation`*

This mapping supports content segmentation for recommendation systems and marketing. You can now easily target specific age-based groups like 'Teens' or 'Young Adults' with personalized suggestions.

*`üßº Data Cleaning`*

This step unifies equivalent or overlapping ratings (e.g., 'TV-MA', 'R', 'NC-17', 'UR' ‚Üí 'Adults'), reducing inconsistencies and helping ensure the data is clean and standardized.

*`üìâ Reduces Complexity`*

Converting 14+ detailed ratings into just 5 broad categories simplifies visualizations, statistics, and model training ‚Äî while still preserving the core meaning of the content classification.

‚û°Ô∏è Overall, this is a crucial data preprocessing step that enhances the value and usability of the 'rating' column for downstream tasks like modeling, reporting, and visualization.

In [ ]:
# Count of duplicate rows
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 54

In [ ]:
df.isnull().sum()/100

show_id         0.0
type            0.0
title           0.0
director        0.0
cast            0.0
country         0.0
date_added      0.0
release_year    0.0
rating          0.0
duration        0.0
listed_in       0.0
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201838 entries, 0 to 201844
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       201838 non-null  int32
 1   type          201838 non-null  category
 2   title         201838 non-null  object
 3   director      201838 non-null  object
 4   cast          201838 non-null  object
 5   country       201838 non-null  object
 6   date_added    201838 non-null  datetime64[ns]
 7   release_year  201838 non-null  int64
 8   rating        201838 non-null  object
 9   duration      201838 non-null  object
 10  listed_in     201838 non-null  object
dtypes: category(1), datetime64[ns](1), int32(1), int64(1), object(7)
memory usage: 16.4+ MB

### <b><font color="white"><h2>‚úÖ Final Cleaned Dataset: Ready for Analysis, Visualization, or Model Building:</b></font>

This heading clearly indicates that your dataset has undergone all necessary preprocessing steps‚Äîmissing value treatment, data transformation, standardization, and encoding‚Äîand is now fully prepared for the next stages such as:

- üìä Exploratory Data Analysis (EDA)

- üìà Building visualizations and dashboards

- ü§ñ Feeding into machine learning models

- üì§ Exporting and sharing with others for collaboration

### <b><font color="white"><h2>üîç Exporting the Cleaned DataFrame to CSV and Triggering Download:</b></font>

In [ ]:
# df = pd.DataFrame(df)

# filename = 'df.csv'
# df.to_csv(filename, index=False)

# files.download(filename)
# print(f"DataFrame saved as '{df}' and ready for download.")

# üìù Insight:

Downloading the `Netflix cleaned DataFrame` as a CSV file opens up several possibilities for further work, sharing, and integration:

`‚úÖ Data Backup: `

Ensures you have a saved copy of your cleaned and transformed data for future use or recovery.

`üìä Further Analysis: `

You can import this CSV into tools like Excel, Google Sheets, Tableau, or Power BI for advanced visualization and reporting.

`üì§ Sharing with Others: `

A CSV file is easy to share with teammates, instructors, or clients who may not be using Python or Jupyter Notebooks.

`ü§ñ Use in ML Models: `

The cleaned data can now be used as input for machine learning models in tools like scikit-learn, TensorFlow, or cloud platforms.

`üß™ Version Control: `

Keeping a saved version of your processed data helps track progress, especially when working with different stages of preprocessing.

`üì• Cross-Platform Integration: `

CSVs are universally supported, making it easier to move data between systems or applications (e.g., importing into SQL databases, dashboards, or APIs).

In [ ]:
df.shape

(201838, 11)

In [ ]:
df.groupby("type")["title"].nunique()

<ipython-input-87-adaec64cb97e>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("type")["title"].nunique()

type
Movie      6125
TV Show    2674
Name: title, dtype: int64

In [ ]:
def check_null_value(df):
    result = {}

    for col in df.columns:
        result[col] = df[col].isnull().sum() / 100

    return result

In [ ]:
null_value = check_null_value(df)
pd.DataFrame.from_dict(null_value, orient='index', columns=['null_ratio'])

              null_ratio
show_id              0.0
type                 0.0
title                0.0
director             0.0
cast                 0.0
country              0.0
date_added           0.0
release_year         0.0
rating               0.0
duration             0.0
listed_in            0.0

In [ ]:
df[df['country'] == '']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
4737,194,TV Show,D.P.,Unknown_director,Jung Hae-in,,2021-08-27,2021,Adults,1 Season,International TV Shows
4738,194,TV Show,D.P.,Unknown_director,Jung Hae-in,,2021-08-27,2021,Adults,1 Season,TV Dramas
4741,194,TV Show,D.P.,Unknown_director,Koo Kyo-hwan,,2021-08-27,2021,Adults,1 Season,International TV Shows
4742,194,TV Show,D.P.,Unknown_director,Koo Kyo-hwan,,2021-08-27,2021,Adults,1 Season,TV Dramas
4745,194,TV Show,D.P.,Unknown_director,Kim Sung-kyun,,2021-08-27,2021,Adults,1 Season,International TV Shows
...,...,...,...,...,...,...,...,...,...,...,...
159091,7008,Movie,Hotel Pacific,Janusz Majewski,Joanna Kasperska,,2019-10-01,1975,Adults,96 min,Dramas
159092,7008,Movie,Hotel Pacific,Janusz Majewski,Joanna Kasperska,,2019-10-01,1975,Adults,96 min,International Movies
159096,7008,Movie,Hotel Pacific,Janusz Majewski,Jaroslava Schallerov√°,,2019-10-01,1975,Adults,96 min,Classic Movies
159097,7008,Movie,Hotel Pacific,Janusz Majewski,Jaroslava Schallerov√°,,2019-10-01,1975,Adults,96 min,Dramas
159098,7008,Movie,Hotel Pacific,Janusz Majewski,Jaroslava Schallerov√°,,2019-10-01,1975,Adults,96 min,International Movies

In [ ]:
df.loc[df['country'] == '', 'country'] = 'South Korea'
df['country'].fillna('South Korea', inplace=True)

<ipython-input-91-a0c1bc7c3008>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('South Korea', inplace=True)

In [ ]:
df['country'].str.strip()

0         United States
1          South Africa
2          South Africa
3          South Africa
4          South Africa
              ...
201840            India
201841            India
201842            India
201843            India
201844            India
Name: country, Length: 201838, dtype: object

In [ ]:
df[df['cast'].isin(['Jung Hae-in'])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
4737,194,TV Show,D.P.,Unknown_director,Jung Hae-in,South Korea,2021-08-27,2021,Adults,1 Season,International TV Shows
4738,194,TV Show,D.P.,Unknown_director,Jung Hae-in,South Korea,2021-08-27,2021,Adults,1 Season,TV Dramas
4739,194,TV Show,D.P.,Unknown_director,Jung Hae-in,South Korea,2021-08-27,2021,Adults,1 Season,International TV Shows
4740,194,TV Show,D.P.,Unknown_director,Jung Hae-in,South Korea,2021-08-27,2021,Adults,1 Season,TV Dramas
79577,3309,Movie,Tune in for Love,Jung Ji-woo,Jung Hae-in,South Korea,2019-11-05,2019,Adults,123 min,Dramas
79578,3309,Movie,Tune in for Love,Jung Ji-woo,Jung Hae-in,South Korea,2019-11-05,2019,Adults,123 min,International Movies
79579,3309,Movie,Tune in for Love,Jung Ji-woo,Jung Hae-in,South Korea,2019-11-05,2019,Adults,123 min,Romantic Movies
87734,3674,TV Show,One Spring Night,Unknown_director,Jung Hae-in,South Korea,2019-07-12,2019,Young Adults,1 Season,International TV Shows
87735,3674,TV Show,One Spring Night,Unknown_director,Jung Hae-in,South Korea,2019-07-12,2019,Young Adults,1 Season,Korean TV Shows
87736,3674,TV Show,One Spring Night,Unknown_director,Jung Hae-in,South Korea,2019-07-12,2019,Young Adults,1 Season,Romantic TV Shows
112304,4849,TV Show,Something in the Rain,Unknown_director,Jung Hae-in,South Korea,2018-05-26,2018,Adults,1 Season,International TV Shows
112305,4849,TV Show,Something in the Rain,Unknown_director,Jung Hae-in,South Korea,2018-05-26,2018,Adults,1 Season,Korean TV Shows
112306,4849,TV Show,Something in the Rain,Unknown_director,Jung Hae-in,South Korea,2018-05-26,2018,Adults,1 Season,Romantic TV Shows

In [ ]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
103083,4415,Movie,Ana e Vit√≥ria,Matheus Souza,Bruce Gomlevsky,Brazil,2018-11-02,2018,Adults,116 min,LGBTQ Movies
74062,3096,TV Show,The Bonfire of Destiny,Unknown_director,Josiane Balasko,France,2019-12-26,2019,Adults,1 Season,TV Dramas
18936,744,Movie,Copenhagen,Mark Raso,Baard Owe,Canada,2021-06-10,2014,Adults,99 min,Independent Movies
51979,2195,TV Show,Unlucky Ploy,Nopparoj Chotmunkongsit,Kittiphong Dumavibhat,Unknown_country,2020-07-30,2020,Adults,1 Season,Romantic TV Shows
134745,5977,Movie,√áok Filim Hareketler Bunlar,Ozan A√ßƒ±ktan,Ay√ßa Erturan,Turkey,2017-03-10,2010,Adults,99 min,International Movies

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201838 entries, 0 to 201844
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       201838 non-null  int32
 1   type          201838 non-null  category
 2   title         201838 non-null  object
 3   director      201838 non-null  object
 4   cast          201838 non-null  object
 5   country       201838 non-null  object
 6   date_added    201838 non-null  datetime64[ns]
 7   release_year  201838 non-null  int64
 8   rating        201838 non-null  category
 9   duration      201838 non-null  object
 10  listed_in     201838 non-null  object
dtypes: category(2), datetime64[ns](1), int32(1), int64(1), object(6)
memory usage: 15.0+ MB

In [ ]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
101424,4343,Movie,Line Walker,Jazz Boon,Louis Cheung,Hong Kong,2018-12-01,2016,Adults,109 min,Action & Adventure
90791,3822,TV Show,Dennis and Gnasher Unleashed,Unknown_director,Kelly Marie Stewart,United Kingdom,2019-05-15,2017,Kids,1 Season,TV Comedies
174314,7666,Movie,One Night Stand,Jasmine D'Souza,Madhurima Banerjee,India,2017-10-15,2016,Adults,93 min,International Movies
200694,8766,Movie,XX,Jovanka Vuckovic,Jonathan Watton,Canada,2017-06-22,2017,Adults,81 min,Horror Movies
23269,936,Movie,Madagascar 3: Europe's Most Wanted,Conrad Vernon,David Schwimmer,United States,2021-05-01,2012,Older Kids,96 min,Comedies

In [ ]:
df = pd.DataFrame(df)

filename = 'df.csv'
df.to_csv(filename, index=False)

files.download(filename)
print(f"DataFrame saved as '{df}' and ready for download.")

DataFrame saved as '        show_id     type                 title          director  \
0             1    Movie  Dick Johnson Is Dead   Kirsten Johnson
1             2  TV Show         Blood & Water  Unknown_director
2             2  TV Show         Blood & Water  Unknown_director
3             2  TV Show         Blood & Water  Unknown_director
4             2  TV Show         Blood & Water  Unknown_director
...         ...      ...                   ...               ...
201840     8807    Movie                Zubaan       Mozez Singh
201841     8807    Movie                Zubaan       Mozez Singh
201842     8807    Movie                Zubaan       Mozez Singh
201843     8807    Movie                Zubaan       Mozez Singh
201844     8807    Movie                Zubaan       Mozez Singh

                         cast        country date_added  release_year  \
0                Unknown_cast  United States 2021-09-25          2020
1                  Ama Qamata   South Africa 2021-09-24          2021
2                  Ama Qamata   South Africa 2021-09-24          2021
3                  Ama Qamata   South Africa 2021-09-24          2021
4                 Khosi Ngema   South Africa 2021-09-24          2021
...                       ...            ...        ...           ...
201840         Anita Shabdish          India 2019-03-02          2015
201841         Anita Shabdish          India 2019-03-02          2015
201842  Chittaranjan Tripathy          India 2019-03-02          2015
201843  Chittaranjan Tripathy          India 2019-03-02          2015
201844  Chittaranjan Tripathy          India 2019-03-02          2015

              rating  duration               listed_in
0              Teens    90 min           Documentaries
1             Adults  2 Season  International TV Shows
2             Adults  2 Season               TV Dramas
3             Adults  2 Season            TV Mysteries
4             Adults  2 Season  International TV Shows
...              ...       ...                     ...
201840  Young Adults   111 min    International Movies
201841  Young Adults   111 min        Music & Musicals
201842  Young Adults   111 min                  Dramas
201843  Young Adults   111 min    International Movies
201844  Young Adults   111 min        Music & Musicals

[201838 rows x 11 columns]' and ready for download.